<html>
<head>
    <title>ImageToScan.com</title>
    <meta name="description" content="Convert photos into scanned PDF documents">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta property="og:title" content="ImageToScan.com"/>
    <meta property="og:url" content="http://www.imagetoscan.com/"/>
    <meta property="og:image" content="http://www.imagetoscan.com/ois-logo-fb.png"/>
    <meta property="og:description" content="Convert photos into scanned PDF documents"/>

    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <link rel="icon" href="ois.png"/>

    <style>
        canvas {
            width: 100%;
        }
        #pages {
            height: 120px;
            border: 1px solid #ccc;
            background-color: #f8f8f8;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        #pages:hover {
            background-color: #eee;
        }

        #canvascontainer {
            width: 100%;
            position: relative;
            min-height: 300px;
        }

        #overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        #overlay {
            cursor: pointer;
        }

        #instructions {
            text-align: center;
            color: #aaa;
            font-size: 20px;
            line-height: 120px;

        }

        #instructions i {
            font-size: 20px;
        }

        .page-container {
            display: flex;
            flex-direction: row;
        }

        .page {
            cursor: pointer;
            border: 3px solid gray;
            width: 100px;
            height: 100px;
            margin: 10px;
            display: inline-block;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;            
            background-color: white;
        }

        .page.selected {
            border: 3px solid #7957d5;
        }

    </style>
</head>
<body>

<div id="app">
    <b-loading :is-full-page="true" v-model="loading" :can-cancel="true"></b-loading>


    <b-navbar type="is-light">
        <template slot="brand">
            <b-navbar-item href="/">
                <img src="ois-logo.png" style="height: 30px;" class="mr-3">
                <strong>ImageToScan</strong>.com
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item href="#faq">
                <i class="fas fa-question mr-2"></i> FAQ
            </b-navbar-item>
        </template>

        <template slot="end">
            <b-navbar-item href="https://github.com/ronreiter/imagetoscan">
                <i class="fab fa-github mr-2"></i> GitHub
            </b-navbar-item>
<!--
            <b-navbar-item tag="div">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </b-navbar-item>
-->            
        </template>

    </b-navbar>




<div class="container">

    <div class="content mt-5 px-3">
        <div class="columns">
            <div class="column is-3">
                <img src="ois-logo.png" style="height: 120px; margin: 0 auto; display: block">
            </div>
            <div class="column is-9 py-5">
                <h2><strong>ImageToScan</strong>.com</h4>
                <h4>Convert photos into scanned PDF documents for free!</h4>     
            
            </div>
        </div>
    </div>


    <div class="columns content px-3">
        <div class="column">
            <h3 class="title is-3 my-3">1. Upload</h3>
            <hr/>
            <p>Select an image by dragging & dropping it or by using the Upload button.</p>
            <div class="my-3">
                <label class="button is-primary is-small">
                    <i class="fas fa-upload mr-2"></i> Upload Image <input type="file" id="upload-file" @change="uploadFile" style="display: none;">
                </label>
                <a id="delete-page" class="button is-danger is-small" @click="deletePage" :disabled="!pages.length"><i class="fas fa-trash mr-2"></i> Delete Page</a>

            </div>

            <div id="pages" @dragover="hover" @dragleave="hover" @drop="drop">
                <div id="instructions" v-if="!pages.length">
                    <span><i class="fas fa-cloud-upload-alt"></i></span>
                    <span>Drag and drop an image here</span>
                </div>
                <draggable v-if="pages.length" class="page-container" v-model="pages">
                    <div v-for="page, index in pages">
                        <div class="page" :class="{'selected': index === currentPage }" @click="selectPage(index)" :style="{'background-image': 'url(' + page.image + ')'}">
                            
                        </div>
                    </div>
                </draggable>
            </div>

            <div class="my-3">
                <a id="download-pdf" class="button is-primary is-small" @click="downloadPDF" :disabled="!pages.length"><i class="fas fa-file-pdf mr-2"></i> Download PDF</a>
                <a id="download-image" class="button is-secondary is-small" ref="downloadImage" :disabled="!pages.length"><i class="fas fa-file-image mr-2"></i> Download Image</a>

            </div>

        </div>
    </div>

    <div class="columns content px-3">
        <div class="column">
            <h3 class="title is-3 my-3">2. Crop</h3>
            <hr/>
            <p>Move the white corners to match the corners of the page in the photo.</p>

            <div id="canvascontainer">

                <canvas id="sourcecanvas" ref="sourcecanvas"></canvas>
                <canvas id="overlay" ref="overlay" @mousedown="down" @touchstart="down" @mousemove="move" @touchmove="move"></canvas>
            </div>
        </div>
        <div class="column">
            <h3 class="title is-3 my-3">3. Adjust</h3>
            <hr/>
            <p>Adjust the white threshold and rotation of the document.</p>
            <div class="columns">
                <div class="column is-4">
                    White Threshold
                </div>
                <div class="column">
                    <b-slider :min="0" :max="255" v-model="whiteThreshold" lazy>
                </div>
            </div>
            <div class="columns">
                <div class="column is-4">
                    Orientation
                </div>
                <div class="column">
                    <b-slider :min="0" :max="270" :step="90" v-model="rotation" lazy></b-slider>
                </div>                
            </div>
            <canvas id="destcanvas" ref="destcanvas"></canvas>
        </div>
    </div>

    <div class="columns content px-3">
        <div class="column">
            <h3 class="is-size-3" id="faq">Frequently Asked Questions</h3>
            <h4 class="is-size-4 my-3">What is ImageToScan?</h4>
            <p>ImageToScan is a service that allows you to convert photos of documents into scanned copies in either an image
                format or PDF format. The tool also allows to correct brightness issues so that the scanned copy will be
                created in a crisp and clear manner.</p>
            <h4 class="is-size-4 my-3">What is the difference between ImageToScan and CamScanner?</h4>
            <p>CamScanner is a paid app, which provides the same functionality as ImageToScan.com. ImageToScan is a free service.
                ImageToScan is used a web application from both desktop and mobile whereas CamScanner is a mobile application, 
                which can only be used on mobile devices.
            </p>
            
            <h4 class="is-size-4 my-3">How do you convert a photo of a document into a scanned copy?</h4>
            <p>Converting a photo of a document into a scanned copy is simple. Just follow the steps below:</p>
            <ol>
                <li>Drag and drop, or upload a photo of a document you wish to convert into a scan.</li>
                <li>Adjust the corners of the document.</li>
                <li>Adjust the brightness level and the orientation of each page in the scanned document.</li>
                <li>Rearrange the order of the pages as necessary.</li>
                <li>Download a scanned version of your document in either PDF or image format.</li>
            </ol>
            <h4 class="is-size-4 my-3">Does ImageToScan support creating documents with multiple pages?</h4>
            <p>
                Yes. Simply drag multiple photos at the same time or upload multiple photos. 
                Then, you can edit each photo separately and rearrange them as needed.
            </p>
            <h4 class="is-size-4 my-3">Is this website secure?</h4>
            <p>ImageToScan.com run on your browser and does not upload any content to any web server.
                It is hosted on GitHub and you can see the source <a href="https://github.com/ronreiter/imagetoscan">here</a>.</p>

        </div>
    </div>

    <hr/>
    <footer style="color: #666; text-align: center; margin: 30px 0; font-size: 14px">Copyright &copy; ImageToScan.com.
        For support please contact <a href="mailto:mail@imagetoscan.com">mail@imagetoscan.com</a></footer>
</div>
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
<script>
    Vue.config.devtools = true;
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/buefy/0.9.7/buefy.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.8.4/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="ois.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-98245887-1', 'auto');
    ga('send', 'pageview');

</script>

</body>